<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增定时任务')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-job-add">
			<div class="form-group">
				<label class="col-sm-2 control-label">执行器</label>
				<div class="col-sm-4">
					<select name="jobGroup" class="form-control m-b">
						<option th:each="g : ${groupList}" th:text="${g.appName}" th:value="${g.groupId}"></option>
					</select>
				</div>

				<label class="col-sm-2 control-label">任务描述</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="jobDesc" placeholder="描述" maxlength="50" >
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">路由策略</label>
				<div class="col-sm-4">
					<select name="executorRouteStrategy" class="form-control m-b" th:with="type=${@dict.getType('sys_job_route_strategry')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
					</select>
				</div>
				<label class="col-sm-2 control-label">Cron表达式</label>
				<div class="col-sm-4"><input type="text" class="form-control" id="jobCron" name="jobCron"></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">运行模式</label>
				<div class="col-sm-4">
					<select name="glueType" class="form-control m-b" th:with="type=${@dict.getType('sys_job_run_mode')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
					</select>
				</div>
				<label class="col-sm-2 control-label">JobHandler</label>
				<div class="col-sm-4"><input type="text" class="form-control" name="executorHandler"></div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">阻塞处理策略</label>
				<div class="col-sm-4">
					<select name="executorBlockStrategy" class="form-control m-b" th:with="type=${@dict.getType('sys_job_block_strategy')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" ></option>
					</select>
				</div>
				<label class="col-sm-2 control-label">子任务ID</label>
				<div class="col-sm-4"><input type="text" class="form-control" name="childJobId"></div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">任务超时时间</label>
				<div class="col-sm-4"><input type="text" class="form-control" name="executorTimeout"></div>
				<label class="col-sm-2 control-label">失败重试次数</label>
				<div class="col-sm-4"><input type="text" class="form-control" name="executorFailRetryCount"></div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">负责人</label>
				<div class="col-sm-4"><input type="text" class="form-control" name="author"></div>
				<label class="col-sm-2 control-label">报警邮件</label>
				<div class="col-sm-4"><input type="text" class="form-control" name="alarmEmail"></div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">参数：</label>
				<div class="col-sm-8">
					<textarea id="executorParam" name="executorParam" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">备注：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control"></textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "monitor/djob";

		$("#form-job-add").validate({
			onkeyup: false,
			rules:{
                jobCron:{
					remote: {
	                    url: prefix + "/checkCronExpressionIsValid",
	                    type: "post",
	                    dataType: "json",
	                    data: {
	                        "jobCron": function() {
	                            return $.common.trim($("#jobCron").val());
	                        }
	                    },
	                    dataFilter: function(data, type) {
	                    	return data;
	                    }
	                }
				},
			},
			messages: {
	            "jobCron": {
	                remote: "Cron表达式不正确"
	            }
	        },
	        focusCleanup: true
		});

		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/add", $('#form-job-add').serialize());
	        }
	    }
	</script>
</body>
</html>
