<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('定时任务日志列表')" />
</head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="jobLog-form">
					<div class="select-list">
						<ul>
							<li>
								任务名称：<input type="text" name="jobName"/>
							</li>
							<li>
								任务执行器：<select name="jobGroup">
								<option value="">所有</option>
								<option th:each="g : ${groupList}" th:text="${g.appName}" th:value="${g.groupId}" th:field="*{jobGroupId}"></option>
							</select>
							</li>
							<li>
								任务状态：<select name="status" th:with="type=${@dict.getType('sys_job_status')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li class="select-time">
								<label>执行时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				 <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:job:remove">
	                <i class="fa fa-remove"></i> 删除
	            </a>
	            <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:job:remove">
	                <i class="fa fa-trash"></i> 清空
	            </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var detailFlag = [[${@permission.hasPermi('monitor:job:detail')}]];
		var prefix = ctx + "monitor/djob/log";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        cleanUrl: prefix + "/clean",
		        detailUrl: prefix + "/detail/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "调度日志",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'jobLogId',
		            title: '日志编号'
		        },
		        {
		            field: 'jobName',
		            title: '任务名称'
		        },
				{
					field: 'triggerTime',
					title: '调度时间'
				},
		        {
		            field: 'triggerCode',
		            title: '调度结果'
		        },
		        {
		            field: 'handleTime',
		            title: '执行时间'
		        },
				{
		            field: 'handleCode',
		            title: '执行结果'
		        },
				{
					field: 'handleMsg',
					title: '执行备注'
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.jobLogId + '\')"><i class="fa fa-search"></i>结果</a>');
		                actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="detailCat(\'' + row.jobLogId + '\')"><i class="fa fa-search"></i>日志</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});

        function detailCat(id) {
            var url = prefix + "/detailCat?logId="+id;
            window.parent.open(url);
        }
	</script>
</body>
</html>