<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改定时任务')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
			<form class="form-horizontal m" id="form-job-edit"  th:object="${job}">
				<input id="jobId" name="jobId" type="hidden" th:field="*{jobId}"/>
				<div class="form-group">
					<label class="col-sm-2 control-label is-required">分组</label>
					<div class="col-sm-4">
						<select name="jobGroupId" class="form-control m-b">
							<option th:each="g : ${groupList}" th:text="${g.groupName}" th:value="${g.groupId}" th:field="*{jobGroupId}"></option>
						</select>
					</div>

					<label class="col-sm-2 control-label is-required">任务描述</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="jobDesc" placeholder="描述"  th:field="*{jobDesc}" maxlength="50" required>
					</div>
				</div>
				<div class="form-group">
					<!--<label class="col-sm-2 control-label">运行模式</label>
					<div class="col-sm-4">
						<select name="glueType" class="form-control m-b" th:with="type=${@dict.getType('sys_job_run_mode')}" disabled="true">
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{glueType}"></option>
						</select>
					</div>-->
					<label class="col-sm-2 control-label is-required">Cron表达式</label>
					<div class="col-sm-4"><input type="text" class="form-control" id="jobCron" name="jobCron"  th:field="*{jobCron}" ></div>

					<label class="col-sm-2 control-label">下次运行时间</label>
					<div class="col-sm-4 form-control-static" th:text="*{triggerNextTimeString}">
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">创建时间</label>
					<div class="col-sm-4 form-control-static" th:text="${#dates.format(job.createTime,'yyyy-MM-dd HH:mm:ss')}">
					</div>
					<label class="col-sm-2 control-label">修改时间</label>
					<div class="col-sm-4 form-control-static" th:text="${#dates.format(job.updateTime,'yyyy-MM-dd HH:mm:ss')}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">创建人</label>
					<div class="col-sm-4 form-control-static" th:text="*{createBy}">
					</div>
					<label class="col-sm-2 control-label">修改人</label>
					<div class="col-sm-4 form-control-static" th:text="*{updateBy}">
					</div>
				</div>
				<!--
				<div class="form-group">
					<label class="col-sm-2 control-label">路由策略</label>
					<div class="col-sm-4">
						<select name="executorRouteStrategy" class="form-control m-b" th:with="type=${@dict.getType('sys_job_route_strategry')}">
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{executorRouteStrategy}"></option>
						</select>
					</div>
					<label class="col-sm-2 control-label">状态：</label>
					<div class="col-sm-4">
						<label class="toggle-switch switch-solid">
							<input type="checkbox" id="triggerStatus" th:checked="${job.triggerStatus == 0 ? true : false}">
							<span></span>
						</label>
					</div>
				</div>
				-->
				<div class="form-group">
					<label class="col-sm-2 control-label is-required">阻塞处理策略</label>
					<div class="col-sm-4">
						<select name="executorBlockStrategy" class="form-control m-b">
							<option th:each="da:${T(me.izhong.jobs.type.ExecutorBlockStrategyEnum).values()}" th:text="${da.title}" th:value="${da}" th:field="*{executorBlockStrategy}"></option>
						</select>
					</div>
					<label class="col-sm-2 control-label">子任务ID</label>
					<div class="col-sm-4"><input type="text" class="form-control" name="childJobId" th:field="*{childJobId}" ></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">任务超时时间</label>
					<div class="col-sm-4"><input type="text" class="form-control" name="executorTimeout" th:field="*{executorTimeout}"></div>
					<label class="col-sm-2 control-label">失败重试次数</label>
					<div class="col-sm-4"><input type="text" class="form-control" name="executorFailRetryCount" th:field="*{executorFailRetryCount}"></div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label is-required">负责人</label>
					<div class="col-sm-4"><input type="text" class="form-control" name="author" th:field="*{author}"></div>
					<label class="col-sm-2 control-label">报警邮件</label>
					<div class="col-sm-4"><input type="text" class="form-control" name="alarmEmail" th:field="*{alarmEmail}"></div>
				</div>

				<div class="form-group">
					<label class="col-sm-2 control-label">参数：</label>
					<div class="col-sm-8">
						<textarea id="executorParam" name="executorParam" class="form-control" th:field="*{executorParam}"> </textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">备注：</label>
					<div class="col-sm-8">
						<textarea id="remark" name="remark" class="form-control" th:field="*{remark}"></textarea>
					</div>
				</div>
			</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
        var prefix = ctx + "ext/djob";
	
		$("#form-job-edit").validate({
			onkeyup: false,
			rules:{
				cronExpression:{
					required:true,
					remote: {
	                    url: prefix + "/checkCronExpressionIsValid",
	                    type: "post",
	                    dataType: "json",
	                    data: {
	                        "jobCron": function() {
	                            return $.common.trim($("#jobCron").val());
	                        }
	                    },
	                    dataFilter: function(data, type) {
	                    	return data;
	                    }
	                }
				},
			},
			messages: {
	            "jobCron": {
	                remote: "表达式不正确"
	            }
	        },
	        focusCleanup: true
		});

		function submitHandler() {
	        if ($.validate.form()) {
                var data = $("#form-job-edit").serializeArray();
                var triggerStatus = $("input[id='triggerStatus']").is(':checked') == true ? 1 : 0;
                data.push({"name": "triggerStatus", "value": triggerStatus});
                $.operate.save(prefix + "/edit", data);
	        }
	    }
	</script>
</body>
</html>
