<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('任务列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="job-form">
					<div class="select-list">
						<ul>
							<li>
								任务名称：<input type="text" name="jobDesc"/>
							</li>
							<li>
								任务组：<select name="jobGroupId">
									<option value="">所有</option>
									<option th:each="g : ${groupList}" th:text="${g.groupName}" th:value="${g.groupId}"></option>
								</select>
							</li>
							<li>
								任务状态：<select name="triggerStatus" th:with="type=${@dict.getType('sys_job_status')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ext:job:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
	            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="ext:job:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="ext:job:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-primary single disabled" onclick="start()" shiro:hasPermission="ext:job:operate">
					<i class="fa fa-play"></i> 启用
				</a>
				<a class="btn btn-danger single disabled" onclick="stop()" shiro:hasPermission="ext:job:operate">
					<i class="fa fa-stop"></i> 停用
				</a>
				<a class="btn btn-primary single disabled" onclick="trigger()" shiro:hasPermission="ext:job:operate">
					<i class="fa fa-play"></i> 执行一次
				</a>
	        </div>
        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<!-- 执行参数 -->
	<div class="modal fade in" id="runModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h3 class="modal-title">任务名称: <span id="runJobName"></span></h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal form" role="form" >
						<input id="runJobId" name="runJobId" type="hidden" value="">
						<div class="form-group">
							<label class="col-sm-2 control-label">执行参数</label>
							<div class="col-sm-10">
								<textarea id="runParams" name="runParams" class="form-control" style="min-height: 150px"> </textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="doStart()">执行</button>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
        var viewFlag = [[${@permission.hasPermi('ext:job:view')}]];
		var editFlag = [[${@permission.hasPermi('ext:job:edit')}]];
		var removeFlag = [[${@permission.hasPermi('ext:job:remove')}]];
		var operateFlag = [[${@permission.hasPermi('ext:job:operate')}]];
		var codeFlag = [[${@permission.hasPermi('ext:job:code:view')}]];
		var logFlag = [[${@permission.hasPermi('ext:job:log:view')}]];
		var groupList = [[${groupList}]];
		var prefix = ctx + "ext/djob";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        detailUrl: prefix + "/detail/{id}",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "jobId",
		        sortOrder: "asc",
		        modalName: "任务",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'jobId',
		            title: '任务编号',
                    sortable: true
		        },
		        {
		            field: 'jobDesc',
		            title: '任务名称',
                    sortable: true
		        },
		        {
		            field: 'jobGroupId',
		            title: '任务组',
		            formatter: function(v, row, index) {
		                var r = "-";
		                if(groupList != null)
							$.each(groupList, function (index, g) {
								if (g.groupId == v) {
									r = g.groupName;
								}
							});
                        return r;
		            },
                    sortable: true,
                    visible: false
		        },
		        {
		            field: 'jobCron',
		            title: '执行表达式'
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            sortable: true,
		            visible: false
		        },
		        {
		            field: 'triggerNextTimeString',
		            title: '下次运行时间'
		        },
				{
					field: 'author',
					title: '负责人',
					sortable: true
				},
                {
                    field: 'triggerStatus',
                    title: '状态',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    field: 'updateTime',
                    title: '修改时间',
                    sortable: true
                },
                {
                    field: 'updateBy',
                    title: '修改人',
                    sortable: true,
                    visible: false
                },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.jobId + '\')"><i class="fa fa-edit"></i> 修改</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.jobId + '\')"><i class="fa fa-remove"></i>删除</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + codeFlag + '" href="javascript:void(0)" onclick="editCode(\'' + row.jobId + '\')"><i class="fa fa-edit"></i>脚本</a> ');
                        actions.push('<a class="btn btn-info btn-xs ' + logFlag + '" href="javascript:void(0)" onclick="openlog(\'' + row.jobId + '\')"><i class="fa fa-list-ul"></i>日志</a> ');
/*
                        actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.jobId + '\')"><i class="fa fa-search"></i>详细</a> ');
*/
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});

        /* 状态显示 */
        function statusTools(row) {
            if(operateFlag){
                if (row.triggerStatus == 0) {
                    return '<i class=\"fa fa-toggle-on text-info fa-2x\"></i>';
                } else {
                    return '<i class=\"fa fa-toggle-off text-info fa-2x\"></i>';
                }
			}
            if (row.triggerStatus == 0) {
                return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="stop1(\'' + row.jobId + '\')"></i> ';
            } else {
                return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="start1(\'' + row.jobId + '\')"></i> ';
            }
        }
        /* 调度任务-停用 */
        function stop1(jobId) {
            $.modal.confirm("确认要停用任务吗？", function() {
                $.operate.post(prefix + "/stop", { "jobId": jobId});
            })
        }

        /* 调度任务-启用 */
        function start1(jobId) {
            $.modal.confirm("确认要启用任务吗？", function() {
                $.operate.post(prefix + "/start", { "jobId": jobId});
            })
        }

		/* 调度任务-停用 */
		function stop() {
            var rowId = $.operate.selectRowId();
			$.modal.confirm("确认要停用任务吗？", function() {
				$.operate.post(prefix + "/stop", { "jobId": rowId});
		    })
		}

		/* 调度任务-启用 */
		function start() {
            $.modal.confirm("确认要启用任务吗？", function() {
				$.operate.post(prefix + "/start", { "jobId": $.operate.selectRowId()});
		    })
		}

        /* 立即执行一次 */
        function trigger() {
            var row = $.operate.selectRow();
            $("#runJobName").text(row.jobDesc);
            $("#runJobId").val(row.jobId);
            $("#runParams").val(row.executorParam);
            $('#runModal').modal({backdrop: false, keyboard: false}).modal('show');
            //$.modal.confirm("确认要立即执行一次任务吗？", function() {
             //   $.operate.post(prefix + "/trigger", { "jobId": rowId});
            //})
        }

        function doStart() {
            var jobId = $("#runJobId").val();
            var params = $("#runParams").val();
            $.operate.post(prefix + "/trigger", { "jobId": jobId, "executorParam":params});
            $('#runModal').modal('hide');
        };

        function editCode(id) {
            var url = prefix + "/code?jobId="+id;
            //$.modal.openTab("编辑脚本", url);
            window.parent.open(url);
        }

        /*字典列表-详细*/
        function openlog(jobId) {
            var url = prefix + '/log?jobId=' + jobId;
            $.modal.openTab("任务日志", url);
        }

	</script>
</body>
</html>