<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/ajax/libs/codemirror/lib/codemirror.css}" rel="stylesheet"/>
	<link th:href="@{/ajax/libs/codemirror/hint/show-hint.css}" rel="stylesheet"/>
<!--
	<link th:href="@{/ajax/libs/adminlte/css/AdminLTE.min.css}" rel="stylesheet"/>

	<link th:href="@{/ajax/libs/adminlte/css/skins/_all-skins.min.css}" rel="stylesheet"/>
-->
	<style type="text/css">
		html,body{height:100%}
		.layout-boxed html,.layout-boxed body{height:100%}
		body{font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;overflow-x:hidden;overflow-y:auto}
		.wrapper{height:100%;position:relative;overflow-x:hidden;overflow-y:auto}
		.main-header .navbar{background-color:#c2e4b5;}
		.main-header .navbar-custom-menu,.main-header .navbar-right{float:right;}
		.fixed .main-header,.fixed .main-sidebar,.fixed .left-side{position:fixed;}
		.fixed .main-header{top:0;right:0;left:0}
		.main-header{position:relative;max-height:100px;z-index:1030}
		.fixed .content-wrapper,.fixed .right-side{padding-top:50px}
		.fixed.layout-boxed .wrapper{max-width:100%}
		.fixed .wrapper{overflow:hidden;}

		.layout-top-nav .content-wrapper,.layout-top-nav .main-footer{margin-left:0;}

		.main-header .navbar{margin-bottom:0;border:none;min-height:50px;border-radius:0;}
		.content-wrapper{min-height:100%;background-color:#ecf0f5;z-index:800;}
		.wrapper:before,.wrapper:after{content:" ";display:table}
		.wrapper:after{clear:both}
		.layout-boxed .wrapper{max-width:1250px;margin:0 auto;min-height:100%;box-shadow:0 0 8px rgba(0,0,0,0.5);position:relative}
		.CodeMirror {
			font-size:16px;
			width: 100%;
			height: 100%;
			/*bottom: 0;
            top: 0px;*/
			position: absolute;
		}
	</style>
</head>
<body class="fixed layout-top-nav">

<div class="wrapper">

	<header class="main-header">
		<nav class="navbar navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><b>Web</b>脚本编辑器</a>
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<i class="fa fa-bars"></i>
					</button>
				</div>

				<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active" >
							<a href="javascript:;">
							<span class="sr-only">(current)</span>
							<!--【<#list GlueTypeEnum as item>
								<#if item == jobInfo.glueType>${item.desc}</#if></#list>】
							${jobInfo.jobDesc}-->
							</a>
						</li>
					</ul>
				</div>

				<textarea id="version_now" style="display:none;" >[[${jobScript}]]</textarea>

				<!--<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">版本回溯<span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li <#if jobLogGlues?exists && jobLogGlues?size gt 0 >style="display: none;"</#if> >
							<a href="javascript:;" class="source_version" version="version_now" glueType="${jobInfo.glueType}" >
								<#list GlueTypeEnum as item><#if item == jobInfo.glueType>${item.desc}</#if></#list>： ${jobInfo.glueRemark}
						</a>
						</li>
						<textarea id="version_now" style="display:none;" >${jobInfo.glueSource}</textarea>
						<#if jobLogGlues?exists && jobLogGlues?size gt 0 >
						<#list jobLogGlues as glue>
						<li>
							<a href="javascript:;" class="source_version" version="version_${glue.id}" glueType="${glue.glueType}" >
								<#list GlueTypeEnum as item><#if item == glue.glueType>${item.desc}</#if></#list>： ${glue.glueRemark}
						</a>
						</li>
						<textarea id="version_${glue.id}" style="display:none;" >${glue.glueSource}</textarea>
					</#list>
				</#if>-->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						</li>
						<li id="save" >
							<a href="javascript:;" shiro:hasPermission="ext:job:code:edit">
								<i class="fa fa-fw fa-save" ></i>
								保存
							</a>
						</li>
						<li>
							<a href="javascript:window.close();" >
								<i class="fa fa-fw fa-close" ></i>
								关闭
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div class="content-wrapper" id="ideWindow" ></div>

<!-- footer -->
</div>

<!-- 保存.模态框 -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog"  aria-hidden="true">
	<div class="modal-dialog ">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" ><i class="fa fa-fw fa-save"></i>保存</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form" role="form" >
					<div class="form-group">
						<label class="col-sm-2 control-label">保存标签</label>
						<div class="col-sm-10"><input type="text" class="form-control" id="jobRemark" maxlength="64" ></div>
					</div>
					<hr>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-6">
							<button type="button" class="btn btn-primary ok">保存</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script>
    var prefix = ctx + "monitor/djob";
</script>
<!--<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/clike/clike.js" />
<#assign glueTypeIdeMode = "text/x-java" />

<#if jobInfo.glueType == "GLUE_GROOVY" >
<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/clike/clike.js" />
<#assign glueTypeIdeMode = "text/x-java" />
<#elseif jobInfo.glueType == "GLUE_SHELL" >
<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/shell/shell.js" />
<#assign glueTypeIdeMode = "text/x-sh" />
<#elseif jobInfo.glueType == "GLUE_PYTHON" >
<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/python/python.js" />
<#assign glueTypeIdeMode = "text/x-python" />
<#elseif jobInfo.glueType == "GLUE_PHP" >
<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/php/php.js" />
<#assign glueTypeIdeMode = "text/x-php" />
<#assign glueTypeModeSrc02 = "${request.contextPath}/static/plugins/codemirror/mode/clike/clike.js" />
<#elseif jobInfo.glueType == "GLUE_NODEJS" >
<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/javascript/javascript.js" />
<#assign glueTypeIdeMode = "text/javascript" />
<#elseif jobInfo.glueType == "GLUE_POWERSHELL" >
<#assign glueTypeModeSrc = "${request.contextPath}/static/plugins/codemirror/mode/powershell/powershell.js" />
<#assign glueTypeIdeMode = "powershell" />
</#if>-->

<script th:src="@{/ajax/libs/codemirror/lib/codemirror.js}"></script>
<script th:src="@{/ajax/libs/codemirror/mode/clike/clike.js}"></script>
<script th:src="@{/ajax/libs/codemirror/hint/show-hint.js}"></script>
<script th:src="@{/ajax/libs/codemirror/hint/anyword-hint.js}"></script>

<script>
    var id = '[[${jobId}]]';
    var ideMode = "text/x-java";
    var prefix = ctx + "ext/djob";

    $(function() {

        // init code editor
        var codeEditor;
        function initIde(jobScript) {
            if (codeEditor == null) {
                codeEditor = CodeMirror(document.getElementById("ideWindow"), {
                    mode : ideMode,
                    lineNumbers : true,
                    matchBrackets : true,
                    value: jobScript
                });
            } else {
                codeEditor.setValue(jobScript);
            }
        }

        initIde($("#version_now").val());

        // code change
        // $(".source_version").click(function(){
        //     var sourceId = $(this).attr('version');
        //     var temp = $( "#" + sourceId ).val();
        //
        //     //codeEditor.setValue('');
        //     initIde(temp);
        // });temp

        // code source save
        $("#save").click(function() {
            $('#saveModal').modal({backdrop: false, keyboard: false}).modal('show');
        });

        $("#saveModal .ok").click(function() {

            var jobScript = codeEditor.getValue();
            var jobRemark = $("#jobRemark").val();

            $.ajax({
                type : 'POST',
                url : prefix + '/code/save',
                data : {
                    'id' : id,
                    'jobScript' : jobScript,
                    'jobRemark' : jobRemark
                },
                dataType : "json",
                success : function(data){
                    if (data.code == "SUCCESS") {
                        layer.open({
                            title: "保存结果",
                            btn: [ "OK" ],
                            content: data.msg ,
                            icon: '1',
                            end: function(layero, index){
                                //$(window).unbind('beforeunload');
                                window.location.reload();
                            }
                        });
                    } else {
                        layer.open({
                            title:"保存结果",
                            btn: [ "OK" ],
                            content: data.msg,
                            icon: '2'
                        });
                    }
                }
            });

        });

        // before upload
        /*$(window).bind('beforeunload',function(){
            return 'Glue尚未保存，确定离开Glue编辑器？';
        });*/

    });

</script>

</body>
</html>
